---
const schedulingData = [
  {
    date: "Day 1: February 7th",
    day: "Friday",
    events: [
      {
        time: "5:00 pm - 6:30 pm",
        title: "Check-In & Snacks",
        location: "ARC First Floor (Lounge Area)",
      },
      {
        time: "5:00 pm - 6:30 pm",
        title: "Team Building",
        location: "ARC 137",
      },
      {
        time: "5:00 pm - 7:30 pm",
        title: "Network w/ BRHacks Sponsors",
        location: "ARC First Floor (Lounge Area)",
      },
      {
        time: "6:00 pm - 6:30 pm",
        title: "Opening Ceremony",
        location: "ARC 137 & ARC 241",
      },
      {
        time: "6:30 pm - 7:15 pm",
        title:
          "Creating your own AI agent using Python and OpenAI by John Deere",
        location: "ARC 241",
      },
      {
        time: "7:30 pm - 8:15 pm",
        title: "React Query: Fetch Smarter, Not Harder by Fulcrum GT",
        location: "ARC 241",
      },
      {
        time: "8:15 pm - 9:00 pm",
        title: "Dinner",
        location: "ARC First Floor (Lounge Area)",
      },
      {
        time: "8:30 pm - 9:30 pm",
        title: "Hydro Dash: Mario Kart with BRHacks!",
        location: "ARC 241",
      },
    ],
  },
  {
    date: "Day 2: February 8th",
    day: "Saturday",
    events: [
      {
        time: "9:00 am - 10:30 am",
        title: "Check-In & Breakfast",
        location: "ARC First Floor (Lounge Area)",
      },
      {
        time: "11:00 am - 12:00 pm",
        title: "De-stress With Grainger: Gimkit Trivia!",
        location: "ARC 241",
      },
      {
        time: "By 2:00 pm",
        title: "DevPost Drafts + Group Form Due",
        location: "Dev Post & Form",
      },
      {
        time: "2:00 pm - 3:00 pm",
        title: "Lunch",
        location: "ARC First Floor (Lounge Area)",
      },
      {
        time: "6:30 pm",
        title: "Hacking Over!",
        location: "Devpost",
      },
      {
        time: "6:35 pm - 7:00 pm",
        title: "Raffle With Fulcrum!",
        location: "ARC 137",
      },
      {
        time: "7:00 pm - 7:50 pm",
        title: "Project Expo",
        location: "ARC 241 & ARC 242",
      },
      {
        time: "8:00 pm - 9:15 pm",
        title: "Closing Ceremony",
        location: "ARC 137",
      },
      {
        time: "9:15 pm",
        title: "Dinner & Meet the Team!",
        location: "ARC First Floor (Lounge Area)",
      },
    ],
  },
];
---

<section
  class="flex flex-col items-center w-full bg-gradient-to-b from-[#052947] to-[#091f3d] text-white pt-28 "
  id="schedule"
>
  <div class="flex place-content-center items-center px-4 tablet:px-[10%]">
    <h1 class="text-5xl font-bold text-center">📅 Schedule</h1>
  </div>

  <div
    class="flex flex-col desktop:flex-row justify-center my-10 gap-28 px-4 tablet:px-[15%] desktop:px-[2%]"
  >
    {
      schedulingData.map((day) => (
        <div class= "max-w-full flex flex-1 py-12 px-10 tablet:px-24 pb-20 bg-cover bg-[url('../schedback.svg')]">
          <div class=" font-poppin flex-col flex text-white border-none ">
            <h1 class="text-3xl font-[700] pt-10 text-center">{day.date}</h1>
            <h1 class="font-poppin mb-5 text-2xl font-[500] text-center">
              {day.day}
            </h1>

            {/* Placeholder */}
            {/* <div class="flex flex-col justify-center h-[100%]">
              <h1 class="text-9xl text-center ">🚧</h1>
              <h1 class="text-5xl text-center pt-5">TBD</h1>
            </div> */}
            <div class="flex flex-col gap-5">
              {day.events.map((event) => (
                <p class="text-lg">
                  <span class="font-extrabold text-xl">{event.title}</span>
                  <br>
                  <span>{event.time}</span> - <span class="text-[#53B8F4]">{event.location}</span>


                </p>
              ))}
            </div>
          </div>
          {/* <div class= "flex" id="mini-jelly"></div> */}
        </div>
      ))
    }
    <!-- <div class= "flex animate-bob-fast" id="mini-jelly"></div> -->
  </div>
</section>

<style>
  #mini-jelly{
    position: relative;
    background: url('../minijelly.svg');
   width: 75px;
   height: 75px;
   background-repeat: no-repeat;
   background-size: 75px;
   margin: 35px;
  }
</style>
